<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="Time Turner" href="https://beta.timeturner.today/timeturner.xml"/>
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179104529-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-179104529-1');
    </script>
  
    <link rel="shortcut icon" type="image/ico" href="{{ "/assets/images/favicon.png" | relative_url }}" />
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script type="text/javascript" src="{{ "/assets/javascripts/application.js" | relative_url }}"></script>
    <title>Time Turner</title>
  
    <meta property="og:title" content="TimeTurner{% if page.title %} — {{ page.title }}{% endif %}">
    <meta property="og:description" content="Time Turner - Stories, Events and Podcasts">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:card" content="summary_large_image">
  
    <meta property="og:image" content="{{ 'assets/images/backgrounds/front-page.jpg' | absolute_url }}">
  
  </head>